<div class="row">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="#">I.E.P Vidas para Cristo</a>
            <ul class="nav">
                <li>@Html.ActionLink("Inicial", "Index", "Home")</li>
                <li>@Html.ActionLink("Membros", "Index", "Membros")</li>
            </ul>
        </div>
    </div>
</div>