@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="hero-unit">
        <h1>I.E.P Vidas para Cristo</h1>
        <p>
            Gerenciar Membros
        </p>
        <p> <a class="btn btn-primary btn-large" href="@Url.Action("Index","Membros")">Saiba Mais</a></p>
    </div>
</div>
